---
import "../styles/global.css";
import Footer from "@components/Footer.astro";

type Props = {
  title?: string;
  description?: string;
};

const {
  title = "Matteo Cavallo • Software Engineer",
  description = "Matteo Cavallo is a Software Engineer based in Paris, France. Frontend Engineer at Qonto.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta name="color-scheme" content="light dark" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Matteo Cavallo" />

    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script is:inline>
  function animate() {
    const animateElements = document.querySelectorAll(".animate");

    animateElements.forEach((element, index) => {
      setTimeout(() => {
        element.classList.add("show");
      }, index * 200);
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    animate();
  });
</script>
